h1 #{title}

p #{error}

div.container
    form(method='POST', action=action)
        input.formbox(type='username', placeholder = 'Username' name = 'username' value=username)
        input.formbox2(type='password', placeholder = 'Password' name = 'password' value=password)
        button.btn.submitbutton(type='submit' class = 'submitbutton') #{title}