h1 #{title}

p #{error}

form(method='POST', action=action)
    input.form-control(type='username', placeholder = 'Username' name = 'username' value=username)
    input.form-control(type='email', placeholder = 'Email' name = 'email' value=email)
    input.form-control(type='password', placeholder = 'Password' name = 'password' value=password)
    button.btn.btn-primary(type='submit') #{title}