h1 #{title}

p #{error}

div.container
    form(method='POST', action=action)
        input.signupform(type='username', placeholder = 'Username' name = 'username' value=username)
        input.signupform(type='email', placeholder = 'Email' name = 'email' value=email)
        input.signupform(type='password', placeholder = 'Password' name = 'password' value=password)
        button.btn.submitbutton(type='submit') #{title}